<div class="main">
    <h3>Comentarios</h3>

    <table>
        <thead>
            <th>Post</th>
            <th>Autor</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.titulo}}</td>
                <td>{{post.comentarios.usuario.nombre}} {{post.comentarios.usuario.apellido}}</td>
                <td>{{ post.comentarios.fecha | date:'d MMMM, yyyy HH:mm' }}</td>
                <td>
                    <a (click)="mostrarModal(post.comentarios.texto)"><i class="material-icons indigo-text">remove_red_eye</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">error</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Comentario</h4>
        <p>{{ textoModal }}</p>
    </div>
    <div class="modal-footer">
        <a class="modal-close btn orange">Cerrar</a>
    </div>
</div>