.sidenav {
    width: 230px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 64px;
}

@media only screen and (max-width : 992px) {
    .sidenav {
        margin-top: 0px;
        padding-top: 64px;
    }
}


a.sidenav-trigger.top-nav.r {
    position: absolute;
    text-align: center;
    height: 48px;
    width: 48px;
    top: 3px;
    float: none;
    margin-left: 1.5rem;
    /* color: #f3989b; */
    font-size: 36px;
    z-index: 2;
}

a.sidenav-trigger.top-nav.l {
    position: absolute;
    text-align: right;
    height: 48px;
    width: 48px;
    top: 3px;
    float: none;
    /* margin-left: 1.5rem; */
    /* color: #f3989b; */
    font-size: 36px;
    z-index: 2;
}

a.sidenav-trigger.top-nav i {
    font-size: 32px;
}