<div class="main">
    <h3>Páginas</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nueva-pagina-html" class="btn indigo mb-2" name="action">Página HTML
                <i class="material-icons left">add</i>
            </a>
        </div>
    
        <div class="col">
            <a routerLink="nueva-pagina-posts" class="btn indigo" name="action">Página de posts
                <i class="material-icons left">add</i>
            </a>
        </div>

    </div>

    <table>
        <thead>
            <th>Título</th>
            <th>URL</th>
            <th>Estado</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let pagina of paginas">
                <td>{{pagina.titulo}}</td>
                <td>{{pagina.url}}</td>
                <td><span [className]="pagina.estado == 'activa' ? 'green-text' : 'red-text'">{{pagina.estado}}</span></td>
                <td>
                    <a class="btn-flat" (click)="togglePagina(pagina)"><i class="material-icons indigo-text">power_settings_new</i></a>
                    <a class="btn-flat" (click)="editarPagina(pagina)"><i class="material-icons indigo-text">edit</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>