<div class="main">
    <h3>Nueva página</h3>
    
    <br>
    <div class="row">
        <div class="col s12">
            <ckeditor (change)="onChange($event)" [editor]="Editor" [config]="editorConfig"></ckeditor>
        </div>
        <div class="col s12 m6 l6">
            <div class="input-field">
                <input id="titulo-pagina" [(ngModel)]="titulo" type="text" class="validate">
                <label for="titulo-pagina">Título</label>
            </div>
        </div>
        <div class="col s12 m6 l6">
            <div class="input-field">
                <input id="titulo-pagina-menu" [(ngModel)]="tituloMenu" type="text" class="validate">
                <label for="titulo-pagina-menu">Título en menú</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <textarea id="descripcion-pagina" [(ngModel)]="descripcion" class="materialize-textarea"></textarea>
                <label for="descripcion-pagina">Descripción</label>
            </div>
        </div>
        <div class="col s12">
            <label>Palabras clave</label>
            <div class="chips" (click)="cambioPalabrasclave()"></div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <input id="url-pagina" [(ngModel)]="url" type="text" class="validate">
                <label for="url-pagina">URL</label>
            </div>
        </div>
        <div class="col checks">
            <label>
                <input type="checkbox" [(ngModel)]="encabezado"/>
                <span>Encabezado</span>
            </label>
        </div>
        <div class="col checks">
            <label>
                <input type="checkbox" [(ngModel)]="pie"/>
                <span>Pie de página</span>
            </label>
        </div>
        <div class="col checks">
            <label>
                <input type="checkbox" [(ngModel)]="menu"/>
                <span>Menú</span>
            </label>
        </div>
    </div>
    <a class="btn indigo" name="action" (click)="crear()">Crear
        <i class="material-icons left">add</i>
    </a>

</div>