<div class="main">

    <h3>Usuarios</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nuevo-usuario" class="btn indigo mb-2" name="action">Usuario
                <i class="material-icons left">add</i>
            </a>
        </div>

    </div>

    <p *ngIf="usuarios.length == 0">No hay usuarios</p>
    <table *ngIf="usuarios.length > 0">
        <thead>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Rol</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td>{{usuario.nombre}}</td>
                <td>{{usuario.correo}}</td>
                <td>{{usuario.tipoUsuario}}</td>
                <td>
                    <a (click)="eliminar(usuario)"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>