<div class="main">
    <h3>Página principal</h3>

    <div class="row">
        <div class="col s12 editor">
            <ckeditor (change)="onChange($event)" [editor]="Editor" [config]="editorConfig"></ckeditor>
        </div>

        <div class="col s12">
            <h4>Encabezado</h4>
            <div class="file-field input-field">
                <div class="btn indigo">
                    <span>Imagen</span>
                    <input type="file" accept="image/*">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <div class="input-field">
                <input id="encabezado" type="text" class="validate">
                <label for="encabezado">Algún texto</label>
            </div>
        </div>
        <div class="col s12">
            <h4>Pie de página</h4>
            <div class="input-field">
                <input id="pie-pagina" type="text" class="validate">
                <label for="pie-pagina">Algún texto</label>
            </div>
        </div>
    </div>

</div>