<div class="main">

        <h3>Nuevo tema</h3>
        <div class="row">
            <div class="col s12">
                <div class="">
                    <div class="">
                        <!-- <span class="card-title">Cambiar título de la página</span> -->
                        <div class="input-field">
                            <input id="titulo-tema" type="text" class="validate">
                            <label for="titulo-tema">Título</label>
                        </div>
    
                        <!-- <span class="card-title">Cambiar descripción de la página</span> -->
                        <div class="input-field">
                            <textarea id="descripcion-tema" class="materialize-textarea"></textarea>
                            <label for="descripcion-tema">Descripción</label>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col s12">
                <div class="">
                    <div class="">
                        <label class="card-title">Imágenes asociadas</label>
                        <div class="file-field input-field">
                            <div class="btn indigo">
                                <span>subir imagen</span>
                                <input type="file" accept="image/*">
                            </div>
                            <div class="file-path-wrapper">
                                <input class="file-path validate" type="text">
                            </div>
                        </div>
    
                    </div>
                </div>
            </div>
    
            <div class="col s12 m12 l12 editor">
                <div class="">
                    <div class="">
                        <h5 class="card-title">CSS personalizado</h5>
    
                        <div ace-editor 
                            [(text)]="css"
                            [mode]="'css'" 
                            [theme]="'dracula'" 
                            [options]="options"
                            [readOnly]="false" 
                            [autoUpdateContent]="true" 
                            [durationBeforeCallback]="1000" 
                            (textChanged)="onChange($event)" 
                            style="min-height: 200px; width:100%; overflow: auto;"></div>
                    </div>
                </div>
            </div>
    
            <div class="col s12 m12 l12 editor">
                    <div class="">
                        <div class="">
                            <h5 class="card-title">Javascript personalizado</h5>
        
                            <div ace-editor 
                                [(text)]="javascript"
                                [mode]="'javascript'" 
                                [theme]="'dracula'" 
                                [options]="options"
                                [readOnly]="false" 
                                [autoUpdateContent]="true" 
                                [durationBeforeCallback]="1000" 
                                (textChanged)="onChange($event)" 
                                style="min-height: 200px; width:100%; overflow: auto;"></div>
                        </div>
                    </div>
                </div>
    
        </div>
    </div>