<div class="main">
    <h3>Páginas</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nueva-pagina-html" class="btn indigo mb-2" name="action">Página HTML
                <i class="material-icons left">add</i>
            </a>
        </div>
    
        <div class="col">
            <a routerLink="nueva-pagina-posts" class="btn indigo" name="action">Página de posts
                <i class="material-icons left">add</i>
            </a>
        </div>

    </div>

    <table>
        <thead>
            <th>Título</th>
            <th>Estado</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr>
                <td>Página 1</td>
                <td><span class="red-text">Inactiva</span></td>
                <td>
                    <a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
            <tr>
                <td>Página 2</td>
                <td><span class="green-text">Activa</span></td>
                <td><a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
            <tr>
                <td>Página 3</td>
                <td><span class="green-text">Activa</span></td>
                <td><a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>