<div class="main">
    <h3>Nuevo rol</h3>

    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input id="nombre-rol" type="text" class="validate">
                <label for="nombre-rol">Nombre</label>
            </div>
        </div>
        <div class="col s12">
            <div class="input-field">
                <textarea id="descripcion-rol" class="materialize-textarea"></textarea>
                <label for="descripcion-rol">Descripción</label>
            </div>
        </div>
        <div class="col s12">
            <label>Páginas</label>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Página 1</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Página 2</span>
                </label>
            </p>
            <p>
                <label>
                    <input type="checkbox" />
                    <span>Página 3</span>
                </label>
            </p>
        </div>
    </div>
    <a class="btn indigo" name="action">Crear
        <i class="material-icons left">add</i>
    </a>
</div>