<div class="main">

    <h3>Configuraciones</h3>
    <div class="row">
        <div class="col s12">
            <div class="">
                <div class="">
                    <!-- <label <span class="card-title">Cambiar título de la página</span> label> -->
                    <div class="input-field">
                        <input id="titulo-pagina" type="text" class="validate">
                        <label for="titulo-pagina">Título</label>
                    </div>

                    <!-- <label <span class="card-title">Cambiar descripción de la página</span> label> -->
                    <div class="input-field">
                        <textarea id="descripcion-pagina" class="materialize-textarea"></textarea>
                        <label for="descripcion-pagina">Descripción</label>
                    </div>

                    <label class="card-title">Palabras clave</label>
                    <div class="chips" (click)="cambioPalabrasclave()"></div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l6">
            <div class="">
                <div class="">
                    <label class="card-title">Cambiar favicon</label>
                    <div class="file-field input-field">
                        <div class="btn indigo">
                            <span>Favicon</span>
                            <input type="file" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12 l6">
            <div class="">
                <div class="">
                    <label class="card-title">Cambiar logo</label>
                    <div class="file-field input-field">
                        <div class="btn indigo">
                            <span>logo</span>
                            <input type="file" accept="image/*">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col s12 m12 l12 editor">
            <div class="">
                <div class="">
                    <h5 class="card-title">CSS personalizado</h5>

                    <div ace-editor 
                        [(text)]="css"
                        [mode]="'css'" 
                        [theme]="'dracula'" 
                        [options]="options"
                        [readOnly]="false" 
                        [autoUpdateContent]="true" 
                        [durationBeforeCallback]="1000" 
                        (textChanged)="onChange($event)" 
                        style="min-height: 200px; width:100%; overflow: auto;"></div>
                </div>
            </div>
        </div>

        <div class="col s12 m12 l12 editor">
                <div class="">
                    <div class="">
                        <h5 class="card-title">Javascript personalizado</h5>
    
                        <div ace-editor 
                            [(text)]="javascript"
                            [mode]="'javascript'" 
                            [theme]="'dracula'" 
                            [options]="options"
                            [readOnly]="false" 
                            [autoUpdateContent]="true" 
                            [durationBeforeCallback]="1000" 
                            (textChanged)="onChange($event)" 
                            style="min-height: 200px; width:100%; overflow: auto;"></div>
                    </div>
                </div>
            </div>

    </div>
</div>