<div class="main">
    <h3>Gestión de archivos</h3>

    <div class="row">
        <div class="col s12">
            <form (ngSubmit)="subirArchivo()">
                <div class="row">
                    <div class="file-field input-field col s12 m9">
                        <div class="btn indigo">
                            <span><i class="material-icons left">add</i>Archivo</span>
                            <input type="file" (change)="cambio($event)">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" id="archivo" type="text">
                        </div>
                    </div>
                    <div class="col s12 m3" id="subir">
                        <button class="btn orange" type="submit"><i
                                class="material-icons left">file_upload</i>Subir</button>
                    </div>
                </div>
            </form>
        </div>
        <div *ngIf="archivos.length == 0">
            <p>No hay archivos </p>
        </div>
        <div class="col s6 m4 l3" *ngFor="let archivo of archivos">

            <div class="card">
                <div class="card-image">
                    <img src="../../../assets/img/miniaturas/video-file.png" *ngIf="archivo.tipo.includes('video')">
                    <img [src]="archivo.miniatura" *ngIf="archivo.tipo.includes('image')">
                    <img [src]="'../../../assets/img/miniaturas/'+archivo.extension+'.png'"
                        *ngIf="!archivo.tipo.includes('image') && !archivo.tipo.includes('video')">
                </div>
                <div class="card-content">
                    <p class="truncate">{{ archivo.nombre }}</p>
                </div>
                <div class="card-action">
                    <a (click)="mostrarModal(archivo.shortcut)" class="boton-archivo"><i class="material-icons indigo-text"
                            *ngIf="archivo.tipo.includes('image')">content_copy</i></a>
                    <a [href]="archivo.ruta" class="boton-archivo" target="_blank"><i
                            class="material-icons indigo-text">file_download</i></a>
                    <a (click)="eliminarArchivo(archivo._id)" class="boton-archivo"><i
                            class="material-icons indigo-text">delete</i></a>
                </div>
            </div>

        </div>
    </div>
</div>


<div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Shortcut del archivo</h4>
      <p>{{ codigoModal }}</p>
    </div>
    <div class="modal-footer">
      <a class="modal-close btn orange">Cerrar</a>
    </div>
  </div>