<div class="main">
    <h3>Posts</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nuevo" class="btn indigo mb-2" name="action">Post
                <i class="material-icons left">add</i>
            </a>
        </div>
        <div class="col right">
            <a routerLink="/admin/categorias" class="btn orange mb-2" name="action">Categorías</a>
        </div>

    </div>

    <table>
        <thead>
            <th>Título</th>
            <th>Autor</th>
            <th>Categoría</th>
            <th>Fecha</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let post of posts">
                <td>{{post.titulo}}</td>
                <td>TODO</td>
                <td>{{post.categoria}}</td>
                <td>{{ post.fecha | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                    <a class="btn-flat" (click)="eliminar(post._id)"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>