<div class="main">
    <h3>Categorías</h3>

    <div class="row">
        <div class="col s10">
            <div class="input-field">
                <input type="text" [(ngModel)]="nombre">
                <label>Nombre</label>
            </div>
        </div>
        <div class="col s2 btn-agregar">
            <button class="btn orange" (click)="guardar()">
                <i class="material-icons">add</i>
            </button>
        </div>
    </div>

    <p *ngIf="categorias.length == 0">No hay categorías</p>
    <table *ngIf="categorias.length > 0">
        <thead>
            <th>Nombre</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let categoria of categorias">
                <td>{{categoria.nombre}}</td>
                <td>
                    <a class="btn-flat" (click)="eliminar(categoria._id)"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>