<div class="main">
    <h3>Menús</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nuevo" class="btn indigo mb-2" name="action">Menú
                <i class="material-icons left">add</i>
            </a>
        </div>

    </div>

    <table>
        <thead>
            <th>Id</th>
            <th>Nombre</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr *ngFor="let menu of menus">
                <td>{{menu._id}}</td>
                <td>{{menu.nombre}}</td>
                <td>
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>