<div class="main">
    <h3>Nuevo usuario</h3>

    <div class="row">
        <div class="col s12 m6">
            <div class="input-field">
                <input id="nombre-usuario" type="text" class="validate">
                <label for="nombre-usuario">Nombre</label>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input id="apellido-usuario" type="text" class="validate">
                <label for="apellido-usuario">Apellido</label>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input id="correo-usuario" type="email" class="validate">
                <label for="correo-usuario">Correo electrónico</label>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
                <input id="contrasena-usuario" type="password" class="validate">
                <label for="contrasena-usuario">Contraseña</label>
            </div>
        </div>
        <div class="input-field col s12 m6">
            <select>
                <option value="" disabled selected>Seleccione un rol</option>
                <option value="1">Rol 1</option>
                <option value="2">Rol 2</option>
                <option value="3">Rol 3</option>
            </select>
            <label>Rol</label>
        </div>
    </div>
    <a class="btn indigo" name="action">Crear
        <i class="material-icons left">add</i>
    </a>
</div>