<div class="main">
    <h3>Temas</h3>

    <div class="row">

        <div class="col">
            <a routerLink="nuevo" class="btn indigo mb-2" name="action">Tema
                <i class="material-icons left">add</i>
            </a>
        </div>

    </div>

    <table>
        <thead>
            <th>Título</th>
            <th>Estado</th>
            <th>Opciones</th>
        </thead>
        <tbody>
            <tr>
                <td>Tema 1</td>
                <td><span class="red-text">Inactivo</span></td>
                <td>
                    <a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
            <tr>
                <td>Tema 2</td>
                <td><span class="red-text">Inactivo</span></td>
                <td><a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
            <tr>
                <td>Tema 3</td>
                <td><span class="green-text">Activo</span></td>
                <td><a href="#"><i class="material-icons indigo-text">edit</i></a>
                    &nbsp;
                    <a href="#"><i class="material-icons indigo-text">delete</i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>