<ul id="dropdown1" class="dropdown-content">
    <li><a href="#!">Perfil</a></li>
    <li class="divider"></li>
    <li><a (click)="logout()">Cerrar sesión</a></li>
</ul>
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper indigo">
            <a href="#" data-target="sidenav" class="top-nav l sidenav-trigger full hide-on-large-only">
                <i class="material-icons white-text">menu</i>
            </a>
            <a routerLink="/admin" class="brand-logo">Logo</a>
            <ul id="nav-mobile" class="right">
                <li><a #dropdown1 class="dropdown-trigger" href="#!" data-target="dropdown1">Usuario<i
                            class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container">
    <!-- <a href="#" data-target="sidenav" class="top-nav l sidenav-trigger full hide-on-large-only">
        <i class="material-icons white-text">menu</i>
    </a> -->
</div>
<ul #sidenav id="sidenav" class="sidenav sidenav-fixed indigo">
    <li routerLinkActive="active">
        <a routerLink="/admin/archivos" (click)="closeSidenav()">
            <i class="material-icons white-text">collections</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Archivos </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/pagina-principal" (click)="closeSidenav()">
            <i class="material-icons white-text">web_asset</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Principal </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/paginas" (click)="closeSidenav()">
            <i class="material-icons white-text">file_copy</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Páginas </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/posts" (click)="closeSidenav()">
            <i class="material-icons white-text">create</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Posts </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/comentarios" (click)="closeSidenav()">
            <i class="material-icons white-text">comment</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Comentarios </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/menus" (click)="closeSidenav()">
            <i class="material-icons white-text">menu</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Menús </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/temas" (click)="closeSidenav()">
            <i class="material-icons white-text">palette</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Temas </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/seguridad" (click)="closeSidenav()">
            <i class="material-icons white-text">lock</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Seguridad </span>
        </a></li>
    <li routerLinkActive="active">
        <a routerLink="/admin/configuraciones" (click)="closeSidenav()">
            <i class="material-icons white-text">settings</i>
            <span class="menu-title white-text" *ngIf="visibilidad"> Configuraciones </span>
        </a></li>

</ul>